---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <div class="content">

    <article class="article  article--page  typeset">

      {% if paginator.posts %}
        {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
        <h1>{{ collectiondata.title }}</h1>
        {{ collectiondata.description | markdownify }}

      {% else %}
        <h1>{{ page.title }}</h1>
        {{ content }}
        
      {% endif %}

    </article>

    {% include post-list.html %}

  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>
{% include button.html text="Twitter" icon="twitter" link="https://twitter.com/moralejandrog" %} {% include button.html text="GitHub" icon="github" link="https://github.com/MoralG" %} {% include button.html text="Apoyame 💸" link="https://paypal.me/MoralG?locale.x=es_ES" color="#333333" %}

{% include site-footer.html %}
