---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--post  content  typeset">

    <h1>{{ page.title }}</h1>
    {% include post-meta.html %}
    {{ content }}

    {% include nav-share.html %}

    {% include post-comments.html %}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}
  {% include button.html text="Twitter" icon="twitter" link="https://twitter.com/moralejandrog" %} {% include button.html text="GitHub" icon="github" link="https://github.com/MoralG" %} {% include button.html text="Apoyame 💸" link="https://paypal.me/MoralG?locale.x=es_ES" color="#333333" %}

</main>

{% include site-footer.html %}

